@model IEnumerable<DSWI_TiendaJulio.Models.Item>

<div class="section-title text-center">
    <h3 class="title">Tus Compras</h3>
</div>
@foreach (var item in Model)
{

    <div class="order-summary">
        <div class="order-col">
            <div class="order-total"><strong>PRODUCTO</strong></div>
            <div class="order-total"><strong>SUBTOTAL</strong></div>
        </div>

        <div class="order-products">
            <div class="order-col">
                <div>CODIGO</div>
                <div>@Html.DisplayFor(modelItem => item.codigo)</div>
            </div>
            <div class="order-col">
                <div>DESCRIPCION</div>
                <div> @Html.DisplayFor(modelItem => item.descripcion)</div>
            </div>
            <div class="order-col">
                <div>PRECIO</div>
                <div>@Html.DisplayFor(modelItem => item.precio)</div>
            </div>
            <div class="order-col">
                <div>CANTIDAD</div>
                <div>@Html.DisplayFor(modelItem => item.cantidad)</div>
            </div>
            <div class="order-col">
                <div><strong>MONTO</strong></div>
                <div><strong>@Html.DisplayFor(modelItem => item.monto)</strong></div>
            </div>
        </div>
    </div>

    @Html.ActionLink("Eliminar Producto", "Delete", new { id = item.codigo }, new { @class = "primary-btn order-submit" })
}
<hr style="font-size:50px; color:black;" />
<div class="order-summary">
    <div class="order-col">
        <div><strong>MONTO TOTAL</strong></div>
        <div><strong class="order-total">@Model.Sum(m => m.monto)</strong></div>
    </div>
</div>
