@model DSWI_TiendaJulio.Models.Producto

@{
    ViewBag.Title = "Agregar";
    Layout = "~/Views/Shared/_LayoutCarrito.cshtml";
}

<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-md-push-2">
                <div id="product-main-img">
                    <div class="product-preview">
                        <img src="@Url.Content(string.Format("~/imagenes/{0}.jpg",Model.COD_PRO))" />
                    </div>
                </div>
            </div>

            <div class="col-md-2  col-md-pull-5">
             <div id="product-imgs">
                <div class="product-preview">
                    <img src="@Url.Content(string.Format("~/imagenes/{0}.jpg",Model.COD_PRO))" />
                </div>
             </div>
            </div>

            <div class="col-md-5">
                <div class="product-details">
                    <h2 class="product-name">@Html.DisplayFor(model => model.NOM_PRO)</h2>

                    <div>
                        <h3 class="product-price">S/@Html.DisplayFor(model => model.PRECIO_VENTA) soles</h3>
                    </div>
                    <div>
                        <h3 class="product-price">@Html.DisplayFor(model => model.STOCK) en stock</h3>
                    </div>

                    @using (Html.BeginForm("Agregar", "ECommerce", FormMethod.Post))
                    {
                        @Html.Hidden("cod", Model.COD_PRO)
                        @Html.Hidden("stock", Model.STOCK)
                        <div class="add-to-cart">
                            <div class="qty-label">
                                Cantidad
                                <div class="input-number">
                                    @Html.TextBox("cantidad", 1, new { @type = "number" })
                                    <span class="qty-up">+</span>
                                    <span class="qty-down">-</span>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="primary-btn order-submit"><i class="fa fa-shopping-cart"></i>ADD TO CARD</button> <span>|</span>
                        @Html.ActionLink("Retornar", "Tienda", new { nombre = TempData["nombre"] }, new { @class = "primary-btn order-submit" })
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<div>@ViewBag.mensaje</div>
