@model IEnumerable<DSWI_TiendaJulio.Models.Item>

@{
    ViewBag.Title = "Canasta";
    Layout = "~/Views/Shared/_LayoutCarrito.cshtml";
}
<div class="section">
    <div class="container">
        <div class="col-md-30 order-details">
            <div class="section-title text-center">
                <h3 class="title">CANASTA</h3>
            </div>
            <table class="table">
                <tr class="order-col">
                    <th>
                        CÓDIGO
                    </th>
                    <th>
                        DESCRIPCION
                    </th>
                    <th>
                        PRECIO
                    </th>
                    <th>
                        CANTIDAD
                    </th>
                    <th>
                        MONTO
                    </th>
                    <th></th>
                    <th></th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr class="order-col">
                        <td>
                            @Html.DisplayFor(modelItem => item.codigo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.descripcion)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.precio)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.cantidad)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.monto)
                        </td>
                        <td>
                            <img src="@Url.Content(string.Format("~/imagenes/{0}.jpg",item.codigo))" style="width:100px"; height="100px;" />
                        </td>
                        <td>
                            @Html.ActionLink("Eliminar Producto", "Delete", new { id = item.codigo }, new { @class = "primary-btn order-submit" })
                        </td>
                    </tr>
                }

                <tr class="order-col">
                    <td><strong>Total del Pedido</strong></td>
                    <td class="order-total">@Model.Sum(m => m.monto) </td>
                </tr>
            </table>
        </div>
        <div>
            @Html.ActionLink("Ir a Comprar", "Comprar", null, new { @class = "primary-btn order-submit" }) |
            @Html.ActionLink("Tienda", "Tienda", null, new { @class = "primary-btn order-submit" })
        </div>
    </div>
</div>
