@model DSWI_TiendaJulio.Models.Marca
@using DSWI_TiendaJulio.Models

@{
    ViewBag.Title = "CrudMarca";
    Layout = "~/Views/Shared/_Layout.cshtml";

}


<style>
    h2 {
        text-align: center;
        width: 100%;
        float: left;
    }

    .div-form {
        width: 80%;
        height: auto;
        float: left;
    }

    .div-proceso {
        width: 20%;
        height: auto;
        float: left;
    }

    .div-marco {
        width: 100%;
        height: auto;
        float: left;
    }
</style>

<h2>Mantenimiento de Marcas</h2>
<div class="div-marco">


    @using (Html.BeginForm())
    {
        <div class="div-form">

            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.Label("CODIGO", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.COD_MAR, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.COD_MAR, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("MARCA", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.NOM_MAR, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.NOM_MAR, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div style="color: red; font-size:21px">
                    @ViewBag.mensaje
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        @Html.ActionLink("Limpiar", "CrudMarca", new { id = "" }, new { @class = "btn btn-primary" })
                        <input type="submit" value="Grabar" class="btn btn-primary" />
                        @Html.ActionLink("Eliminar", "EliminaMarca", new { id = Model.COD_MAR }, new { @class = "btn btn-primary", onclick = "return confirm('¿Esta seguro de que desea eliminar?');" })
                    </div>
                </div>

            </div>
        </div>
    }
</div>
<div class="div-marco">
    @Html.Partial("_PartialMarca", (IEnumerable<Marca>)ViewBag.marcas)
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
