@model DSWI_TiendaJulio.Models.Usuario
@using DSWI_TiendaJulio.Models

@{
    ViewBag.Title = "CrudUsuario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    h2 {
        text-align: center;
        width: 100%;
        float: left;
    }

    .div-form {
        width: 80%;
        height: auto;
        float: left;
    }

    .div-proceso {
        width: 20%;
        height: auto;
        float: left;
    }

    .div-marco {
        width: 100%;
        height: auto;
        float: left;
    }
</style>

<h2>Mantenimiento de Usuario</h2>
<div class="div-marco">

    @using (Html.BeginForm())
    {
        <div class="div-form">

            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.Label("CODIGO", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.idusuario, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.idusuario, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("USUARIO", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.nomusuario, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.nomusuario, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("CONTRASEÑA", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.contraseña, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.contraseña, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("TIPO DE USUARIO", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("tipo", (SelectList)ViewBag.tipoUsuarios)
                    </div>
                </div>

                <div style="color: red; font-size:21px">
                    @ViewBag.mensaje
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        @Html.ActionLink("Limpiar", "CrudUsuario", new { id = "" }, new { @class = "btn btn-primary" })
                        <input type="submit" value="Grabar" class="btn btn-primary" />
                        @Html.ActionLink("Eliminar", "EliminaUsuario", new { id = Model.idusuario }, new { @class = "btn btn-primary", onclick = "return confirm('¿Esta seguro de que desea eliminar?');" })
                    </div>
                </div>
            </div>
        </div>
    }
</div>
<div>
    @Html.Partial("_PartialUsuario", (IEnumerable<Usuario>)ViewBag.listausuarios)
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
